body{
	background-image: url('assets/images/login-theme-old.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}
form{
	width: 100%;
	max-width: 470px;
	padding: 50px;
	margin: auto;
	margin-top: 200px;
	background: rgba(0,0,0,.4);
	color: white;
}

.ng-valid[required], .ng-valid.required{
	border-left: 5px solid green;
}

.ng-invalid:not(form){
	border-left: 5px solid red;
}